.cart {
  margin-left: 10%;
  margin-right: 10%;

  .cart-item {
    margin-right: 3%!important;
  }

  .jumbotron {
    .hr-cart {
      background-color: black;
      height: 2px;
      opacity: 1;
    }
  }
}

.cart-product {
  transition: 0.3s;
  height: 130px;

  .product-image-cart {
    height: 90px;
    width: 90px;
    margin-right: 5%;
    background-size: cover;
    background-repeat: round;
  }
}

.cart-product:hover {
  box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.23);
}

.cart-product-info {
  color: black;
}

.cart-is-empty h1{
  color: #c9c9c97d;
  font-size: 80px;
}

input.form-control.quantity {
  width: 60px;
}
