.w-10 {
  width: 10%!important;
}

.td-gender {
  width: 125px;
}

.td-width {
  width: 100px;
}

td, th {
  text-align: center!important;
}

.image-table {
  width: 50px;
  height: 60px;
  background-size: cover;
  background-repeat: round;
}

.bi-check-all {
  color: #00b800;
}

.not-solved {
  background-color: #ffd12821;
}

.btn.btn-outline-secondary.add {
  margin-bottom: 65px;
}

.jumbotron.admin-jumbotron {
  width: 98%!important;
  transition: 0.3s;
}

.collapsible {
  background-color: white!important;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  transition: 0.3s;
}

.collapsible.active svg {
  transform: rotate(180deg)
}

.collapsible:hover {
  text-decoration: underline;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
