
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: rgb(32, 99, 81) !default;
$primary-light: #417d6d !default;

body {
  background: #f6f6f7 !important;
  #app {
    display: block !important;
  }
  .loader-block {
    display: none !important;
  }

  .main-container {
    display: flex;
    margin: 5px;
  }
}

.jumbotron {
  @extend .bg-white;
  @extend .w-100;
  @extend .rounded;
  @extend .shadow-sm;
  @extend .mx-2;
  @extend .mx-md-4;
  @extend .p-3;
  @extend .mb-3;

  & > .container {
    margin-left: 5px;
  }
}

.pt-15 {
  padding-top: 100px;
}

.px-15 {
  padding-left: 15%;
  padding-right: 15%;
}

.mh-832 {
  min-height: 832px;
}

a {
  text-decoration: none!important;
}

@import 'assets/css/_controls';
