.about-image {
  background-repeat: no-repeat;
  background-size: cover;
}

.about-1 {
  background-image: url(https://www.wallpapertip.com/wmimgs/40-409544_nature-wallpaper-4k-for-android.jpg);
  height: 500px;
}

.about-2 {
  background-image: url(https://wallpapercave.com/wp/wp2506797.jpg);
  height: 350px;
}

.about-text {
  font-size: 20px;
}
