.image-div {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  color: white;
}

.home-image {
  background-image: url(https://img.passeportsante.net/1000x526/2019-07-26/i90318-.jpeg);
  height: 950px;

  h1 {
    font-size: 60px;
  }
  a {
    font-size: 30px;
    color: white;
    transition: 0.5s!important;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s;
  }
  a:hover {
    background-size: 100% 1px;
    color: white;
  }
}

.second-image {
  background-image: url(https://besthqwallpapers.com/img/original/146547/forest-aero-view-view-from-above-green-trees-forest-from-above.jpg);
  height: 650px;
  background-attachment: fixed;

  h1 {
    font-size: 50px;
  }
}

.third-image {
  background-image: url(https://wallpaperbat.com/img/595815-snowy-mountains-1440p-resolution-wallpaper-hd-nature-4k-wallpaper-image-photo-and-background.jpg);
  height: 650px;
  background-attachment: fixed;
}

.image-description-1 {
  font-size: 14px;
  color: #838383;
}

.small-text {
  font-size: 14px;
}

.link {
  width: 30%;
}

.link-image {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.5s;
  color: #fefefe69!important;
}

.link-image:hover {
  color: #ffffffb5!important;
}

.link-image-1 {
  background-image: url(https://img5.goodfon.ru/wallpaper/nbig/a/61/big-sur-california-julia-pfeiffer-burns-state-park-mcway-f-1.jpg);
}

.link-image-2 {
  background-image: url(https://www.blueridgeparkway.org/wp-content/uploads/2017/11/Blue-Ridge-Parkway-Ridge-Region-Cowee-Overlook-by-Alex-Armstrong-1400x0-c-default.jpg);
}

.link-image-3 {
  background-image: url(https://wallpaperaccess.com/full/100699.jpg);
}

.new-arrivals, .last-posts {
  width: 100%;
  background-color: #ffffff00;
}

.new-arrivals {
  padding-left: 100px;
  padding-right: 100px;
}

.last-posts {
  padding-left: 200px;
  padding-right: 200px;
}
