.navbar {
  border-bottom: 1px solid #d2d2d240;
  transition: 0.3s!important;
  background-color: white;

  p {
    color: black;
  }
  .nav-link {
    transition: 0.4s!important;
  }
  .nav-link:hover {
    background-color: #d2d2d240;
    border-radius: 15px;
  }
  .selected {
    background-color: #d2d2d240;
    border-radius: 15px;
  }
}

.only-on-home-page {
  border: none;
  background-color: #ffffff00!important;

  p {
    color: white;
  }
}

.px-13 {
  padding-left: 13rem;
  padding-right: 13rem;
}

.h-40 {
  height: 40px;
}

.h-60 {
  height: 60px;
  padding-top: 13px!important;
}
