.post-card {
  a {
    transition: 0.4s;
    text-decoration: none!important;
    display: block!important;
    text-align: center;
    height: 100%;
    padding-top: 30%;
  }
  a:hover {
    background-color: #ffffff38;
  }
}

.post-card:hover button {
  transition: 0.4s;
  display: block;
  color: white;
}


.post-image {
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-color: #d5d5d566;
  background-size: cover;
  overflow: hidden;
  color: white;

  h3 {
    border: none;
    color: white;
  }
  button {
    display: none;
    border-radius: 0;
    border: 3px solid white;
    color: white;
    width: 40%;
    height: 15%;
    font-size: 30px;
    font-weight: 600;
  }
}

.post-image.post-image-big {
  width: 800px;
  height: 800px;
}

.hr-post {
  background-color: black;
  height: 2px!important;
  opacity: 1;
}
