.product-card {
  min-width: 300px;

  .product-image {
    width: 300px;
    height: 400px;
    background-color: #e3e3e34a;
    background-repeat: round;
    border-radius: 3px;
  }
  h1 {
    font-size: 27px;
  }

  a {
    color: black;

    .old-price {
      color: red!important;
    }
  }
}

div.jumbotron.product-card {
  width: 350px!important;
  height: 500px!important;
}

.collection {
  min-height: 832px;

  .product-not-found h1{
    color: #c9c9c97d;
    font-size: 80px;
  }
}

.product-page {
  min-height: 832px;

  .product-image {
    width: 700px;
    height: 750px;
    background-color: #e3e3e34a;
    background-repeat: round;
  }

  .product-body {

    .old-price {
      color: red!important;
    }

    .product-price {
      color: #8f8f8f;
    }
    .add-to-cart-button {
      height: 40px;
    }
  }

  .new-arrivals, .last-posts {
    width: 100%;
    background-color: #ffffff00;
  }

  .new-arrivals {
    padding-left: 25px;

    .product-image {
      width: 300px;
      height: 400px;
    }
  }

  .last-posts {
    padding-left: 100px;
    padding-right: 100px;
  }
}
